{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <h3>Formulário GET</h3>
        </div>

        <div class="row">
            <form action="" method="get" class="row mt-4">
                <div class="col-9">
                    Digite algo para pesquisar
                    <input type="text" name="pesquisa" class="form-control">
                </div>
                <div class="col-3">
                    <button type="submit" class="btn btn-primary mt-4 col-12">Pesquisar</button>
                </div>
            </form>
            <p>Você pesquisou: {{context['pesquisa']}}</p>

            <hr>
            <hr>

            <div class="row">
                <h3>Formulário POST</h3>
            </div>

            <form action="" method="post" class="row mt-4">
                <div class="col-9">
                    Digite algo para pesquisar
                    <input type="text" name="pesquisa" class="form-control">
                </div>
                <div class="col-3">
                    <button type="submit" class="btn btn-success mt-4 col-12">Pesquisar</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}