{% extends 'base.html' %}

{% block content %}



    <div>
        <h3> Projeto Flask </h3>
        <h5> @senaisc </h5>
    </div>
    {% include 'nave.html' %}
    <div>
        <p> Bem vindos a aula de Flask!!! </p>
        <p>Olá, {{context.usuario}} Você tem {{context.idade}}.</p>

        {% if current_user.is_authenticated %}
        <span class="btn btn-primary">{{current_user.nome}} {{current_user.sobrenome}}</span>
        <a href="" class="btn btn-danger">Sair</a>
        {% else %}
        <a href="{{url_for('cadastro')}}" class="btn btn-primary">Faça seu cadastro</a>
        {% endif %}
        <hr>

        <img src="{{url_for('static', filename='img/senai.png')}}">
    </div>

{% endblock %}